

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-none{
  display:none;
}


.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
}

.blue{
  color: blue;
}

